@media (max-width:1200px){
    header{
        padding: 2.5vh 1vw;
    }
}

@media (max-width:991px){
    header{
        padding: 2.5vh 2vw;
    }
}

@media (max-width:868px){
    header{
        padding: 2.5vh 3vw;
    }
    
    #btn-menu {
        display: inline-block;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    .menu-principal {
        position: absolute;
        top:99%; left:0; right:0;
        border-top: var(--borda);
        background-color: var(--cor-fundo);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .menu-principal.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .menu-principal a{
        display: block;
        margin: 2vw;
    }

    footer {
        flex-direction: column;
    }
}

@media (max-width:450px){
     html{
        font-size: 1rem;
    }
    header{
        padding: 2.5vh 5vw;
    }
}
