@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

:root {
    --cor: #A8A6A6;
    --cor2: #E8E8E8;
    --cor-destak: #D9A900;
    --cor-fundo: #1D1D1D;
    --cor-alfa: rgba(0,0,0,.5)
    --cor-grad: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)100%);
    --font: 'Dosis', sans-serif;
    --borda: .1vh solid var(--cor);
    --box-shadow: 0 0.5vh 1vh rgba(0,0,0,.1);
}

/* resetando o estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43, 1.1, .62, 1.08);
    text-transform: capitalize;
    font-family: var(--font);
    font-size: 3vh;
}

* > img {
    user-select: none;
    pointer-events: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    color:var(--cor);
}

html::-webkit-scrollbar {
    width: 1vw;
}

html::-webkit-scrollbar-track {
    background-color: var(--cor-fundo);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--cor-destak);
}

/* === === === cabeçalho === === === */
header {
    height: 10vh;
    background-color: var(--cor-fundo);

    padding: 2.5vh 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#logo {
    font-size: 4vh;
    font-weight: bolder;
    color: var(--cor2);
}
#logo img {
    height: 4vh;
}

.menu-principal a {
    margin-left: 1vw;
    color: var(--cor);
}
.menu-principal a:hover {
    color: var(--cor-destak);
    border-bottom: .1vh solid var(--cor-destak);
}

#btn-menu {
    font-size: 4vh;
    cursor: pointer;
    color:var(--cor);
    display: none;
}

/* === === === conteudo === === === */
main {
    height: 90vh;
    background-color: var(--cor-fundo);
}

/* === === === rodapé === === === */
footer {
    height: 15vh;
    background-color: var(--cor-fundo);
}
