@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

:root {
    --cor: #A8A6A6;
    --cor-fundo: #1D1D1D;
    --cor-destak: #D9A900;
    --cor-item: #E8E8E8;
    --cor-alfa: rgba(0,0,0,.5)
    --cor-grad: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)100%);
    --font: 'Dosis', sans-serif;
    --borda: .1rem solid var(--cor);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

/* configurnado o estilo e resetando o que não quero */
* {
    font-family: var(--font);
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43, 1.1, .62, 1.08);
    text-transform: capitalize;
}

* > img {
    user-select: none;
    pointer-events: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    color:var(--cor);
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--cor-fundo);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--cor-destak);
}

header {
    background-color: var(--cor-fundo);
    padding: 1rem 2%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-4rem) scale(0);
        opacity: 0;
    }
}

.logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--cor-item);
}

.logo img {
    height: 2.5rem;
}

.navegacao a {
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--cor);
}

.navegacao a:hover {
    color: var(--cor-destak);
}

#btn-menu {
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--cor);
    display: none;
}

#times {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

.slider {
    width: 100rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-times {
    font-size: 3rem;
    cursor: pointer;
    padding: 5rem 5rem;
}

.btn-times:hover {
    color: var(--cor-destak);
}

.info-time {
    padding-top: 2rem;
    padding-bottom: 2rem;

    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .4s backwards;
}

.logo-time {
    height: 20rem;
    padding-right: 2rem;
    animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
}

.nome-time {
    padding-top: 2rem;
    color: var(--cor-destak);
    border-bottom: var(--borda);
}

.descricao {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: justify;
    text-transform: initial;
}


.botao {
    background-color: var(--cor-alfa);
    color: var(--cor);
    border: none;

    /* padding: 2vh 2vw; */
    padding: 1rem 2rem;
    margin-right: 1vw;

    font-size: 2rem;
    height: 5rem;

    cursor: pointer;
    transition: .3s ease all;
    animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .6s backwards;
}

.botao:hover {
    background-color: var(--cor-destak);
    color: var(--cor-fundo);
}

.botao i {
    background-color: transparent;
    margin-right: 0.5rem;
}
